.container .result-cell {
  padding-top: 15px;
}

.result-cell {
  max-height: 300px;
  overflow: hidden;
}

.result-name {
  font-weight: bold;
}

.result-name:hover,
.result-thumbnail:hover {
  cursor: pointer;
}

.result-text-fade {
  display: block;
  position: absolute;
  bottom: -5px;
  width: 100%;
  height: 60px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.result-thumbnail {
  padding: 4px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.result-thumbnail > img {
  margin-right: auto;
  margin-left: auto;
  display: block;
}

/* At least Two Columns */
@media (min-width: 768px) {
  .result-grid .clearfix {
    z-index: -1;
  }
}
