header {
  text-align: center;
  background: #0074b8;
  padding: 20px 0;
}

.header-content {
  display: flex;
  align-items: center;
}

.logo {
  width: 100%;
  max-width: 300px;
  flex-shrink: 0;
}

@media (max-width: 767px) {
  .header-content {
    flex-direction: column;
  }

  .logo {
    max-width: 300px;
  }
}

@media (min-width: 768px) {
  .query-form {
    padding-left: 15px;
    flex-grow: 6;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
